In [40]:
import pandas as pd
import os
import chardet

In [41]:
#path = 'C:/Users/lifei/Documents/waterproj/dam_manage_info' #path 변수에 경로 지정
path = 'C:/Users/lifei/Downloads/데이터셋/다목적댐 운영정보'

In [42]:
f_list = os.listdir(path) #디렉토리 안에 뭐 있는지 보여줌
print(f_list)

['201901.csv', '201902.csv', '201903.csv', '201904.csv', '201905.csv', '201906.csv', '201907.csv', '201908.csv', '201909.csv', '201910.csv', '201911.csv', '201912.csv', '202001.csv', '202002.csv', '202003.csv', '202004.csv', '202005.csv', '202006.csv', '202007.csv', '202008.csv', '202009.csv', '202010.csv', '202011.csv', '202012.csv', '202101.csv', '202102.csv', '202103.csv', '202104.csv', '202105.csv', '202106.csv', '202107.csv', '202108.csv', '202109.csv', '202110.csv', '202111.csv', '202112.csv', '202201.csv', '202202.csv', '202203.csv', '202204.csv', '202205.csv', '202206.csv', '202207.csv', '202208.csv', '202209.csv', '202210.csv', '202211.csv', '202212.csv']

In [43]:
# df = pd.read_csv(path + "/" + '202207.csv', sep = ',')

In [45]:
def file_concat(path, file_list):
  dfs = []  # DataFrame들을 저장할 리스트
  
  for file in file_list:
    # 파일 확장자가 .csv인 경우에만 처리
    if file.endswith(".csv"):
      file_path = os.path.join(path, file)
      
      # 파일을 열어서 인코딩 확인
      with open(file_path, 'rb') as f:
        rawdata = f.read()
      result = chardet.detect(rawdata)
      enc = result['encoding']
            
      # 해당 파일의 인코딩에 맞게 열어서 DataFrame으로 변환
      df = pd.read_csv(file_path, encoding = enc)
      dfs.append(df)
  
  # DataFrame들을 세로 방향으로 이어붙임
  df = pd.concat(dfs, axis = 0, ignore_index = True)  # ignore_index = True로 해줘야 오류 없이 밑으로 결합됨
  return df

In [46]:
results = file_concat(path,f_list)

In [47]:
# results.sort_values(by = 'dam_nm')
results

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
0,충주,20190101,0.0,35.381,104.637,2147.7650,78.10
1,횡성,20190101,0.0,0.373,1.614,71.9450,82.80
2,소양강,20190101,0.0,9.063,14.959,1864.7390,64.30
3,안동,20190101,0.0,1.122,16.978,929.9470,74.50
4,임하,20190101,0.0,0.000,8.555,374.2330,62.90
...,...,...,...,...,...,...,...
30676,부안,20221231,0.0,0.085,0.739,35.6002,70.78
30677,섬진강,20221231,0.0,3.099,4.715,81.4090,17.47
30678,주암(본),20221231,0.0,0.572,5.195,131.0083,28.67
30679,주암(조),20221231,0.0,1.113,8.249,69.4086,27.76
30680,장흥,20221231,0.0,0.044,2.144,67.3098,35.24

In [48]:
results['inflow_qy'] = results['inflow_qy'] *86400
results['tot_dcwtr_qy'] = results['tot_dcwtr_qy'] *86400

In [49]:
results

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt
0,충주,20190101,0.0,3056918.4,9040636.8,2147.7650,78.10
1,횡성,20190101,0.0,32227.2,139449.6,71.9450,82.80
2,소양강,20190101,0.0,783043.2,1292457.6,1864.7390,64.30
3,안동,20190101,0.0,96940.8,1466899.2,929.9470,74.50
4,임하,20190101,0.0,0.0,739152.0,374.2330,62.90
...,...,...,...,...,...,...,...
30676,부안,20221231,0.0,7344.0,63849.6,35.6002,70.78
30677,섬진강,20221231,0.0,267753.6,407376.0,81.4090,17.47
30678,주암(본),20221231,0.0,49420.8,448848.0,131.0083,28.67
30679,주암(조),20221231,0.0,96163.2,712713.6,69.4086,27.76
30680,장흥,20221231,0.0,3801.6,185241.6,67.3098,35.24

In [94]:
path_climate = 'C:/Users/lifei/Downloads/데이터셋/기상데이터'

In [95]:
f_list_climate = os.listdir(path_climate) #디렉토리 안에 뭐 있는지 보여줌
print(f_list_climate)

['201901_201906.csv', '201907_201912.csv', '202001.csv', '202002.csv', '202003.csv', '202004.csv', '202005.csv', '202006.csv', '202007.csv', '202008.csv', '202009.csv', '202010.csv', '202011.csv', '202012.csv', '202101.csv', '202102.csv', '202103.csv', '202104.csv', '202105.csv', '202106.csv', '202107.csv', '202108.csv', '202109.csv', '202110.csv', '202111.csv', '202112.csv', '202201.csv', '202202.csv', '202203.csv', '202204.csv', '202205.csv', '202206.csv', '202207.csv', '202208.csv', '202209.csv', '202210.csv', '202211.csv', '202212.csv']

In [96]:
results_climate = file_concat(path_climate,f_list_climate)

In [97]:
results_climate.head()
#len(results_climate)

  dam_nm    anc_dt  avg_hmd  avg_tmr  avg_wv  snsn_sum
0     군위  20190101     48.0     -0.7     3.8       5.2
1     군위  20190102     39.5     -0.5     2.7       7.0
2     군위  20190103     30.7      0.0     2.2       7.1
3     군위  20190104     37.8      0.5     1.8       5.4
4     군위  20190105     39.6      2.4     2.0       6.2

In [98]:
results_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30681 entries, 0 to 30680
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dam_nm    30681 non-null  object
 1   anc_dt    30681 non-null  int64
 2   avg_hmd   30620 non-null  float64
 3   avg_tmr   30676 non-null  float64
 4   avg_wv    30674 non-null  float64
 5   snsn_sum  30664 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.4+ MB

In [106]:
df_merge = pd.merge(left = results, right=results_climate, how = "left", left_on=['dam_nm','obsr_de'], right_on = ['dam_nm','anc_dt'] ) #dam_nm 기준으로

In [107]:
df_merge

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,anc_dt,avg_hmd,avg_tmr,avg_wv,snsn_sum
0,충주,20190101,0.0,3056918.4,9040636.8,2147.7650,78.10,20190101,59.7,-4.2,1.7,5.8
1,횡성,20190101,0.0,32227.2,139449.6,71.9450,82.80,20190101,62.5,-7.8,1.0,6.4
2,소양강,20190101,0.0,783043.2,1292457.6,1864.7390,64.30,20190101,62.3,-7.1,1.4,5.4
3,안동,20190101,0.0,96940.8,1466899.2,929.9470,74.50,20190101,55.9,-3.9,2.2,6.2
4,임하,20190101,0.0,0.0,739152.0,374.2330,62.90,20190101,55.9,-3.9,2.2,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...
30676,부안,20221231,0.0,7344.0,63849.6,35.6002,70.78,20221231,70.9,0.8,0.7,5.3
30677,섬진강,20221231,0.0,267753.6,407376.0,81.4090,17.47,20221231,73.3,-1.7,0.8,3.9
30678,주암(본),20221231,0.0,49420.8,448848.0,131.0083,28.67,20221231,63.3,0.9,3.5,8.6
30679,주암(조),20221231,0.0,96163.2,712713.6,69.4086,27.76,20221231,63.3,0.9,3.5,8.6
30680,장흥,20221231,0.0,3801.6,185241.6,67.3098,35.24,20221231,77.4,-0.8,1.5,8.9

In [109]:
# NaN 있는지 확인
df_merge[df_merge['anc_dt'].isna()]

Empty DataFrame
Columns: [dam_nm, obsr_de, rain_qy, inflow_qy, tot_dcwtr_qy, rsvwt_qy, dam_rsvwt_rt, anc_dt, avg_hmd, avg_tmr, avg_wv, snsn_sum]
Index: []

In [111]:
# 유효저수용량 데이터 불러들이기
df_valid_capa = pd.read_csv('C:/Users/lifei/Documents/waterproj/valid_capa.csv', sep = ',')

# 필요한 컬럼들만 취하기
df_valid_capa = df_valid_capa[['dam_nm','valid_rsvwt_cpcty_qy']]

# 기존 df 와 df_valid_capa merge(join) 하기
df_final_merge = pd.merge(left = df_merge, right=df_valid_capa, how = "left", on = "dam_nm" ) #dam_nm 기준으로

In [118]:
df_final_merge

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,anc_dt,avg_hmd,avg_tmr,avg_wv,snsn_sum,valid_rsvwt_cpcty_qy
0,충주,20190101,0.0,3056918.4,9040636.8,2147.7650,78.10,20190101,59.7,-4.2,1.7,5.8,1789
1,횡성,20190101,0.0,32227.2,139449.6,71.9450,82.80,20190101,62.5,-7.8,1.0,6.4,73.4
2,소양강,20190101,0.0,783043.2,1292457.6,1864.7390,64.30,20190101,62.3,-7.1,1.4,5.4,1900
3,안동,20190101,0.0,96940.8,1466899.2,929.9470,74.50,20190101,55.9,-3.9,2.2,6.2,1000
4,임하,20190101,0.0,0.0,739152.0,374.2330,62.90,20190101,55.9,-3.9,2.2,6.2,424
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30676,부안,20221231,0.0,7344.0,63849.6,35.6002,70.78,20221231,70.9,0.8,0.7,5.3,35.6
30677,섬진강,20221231,0.0,267753.6,407376.0,81.4090,17.47,20221231,73.3,-1.7,0.8,3.9,429
30678,주암(본),20221231,0.0,49420.8,448848.0,131.0083,28.67,20221231,63.3,0.9,3.5,8.6,352
30679,주암(조),20221231,0.0,96163.2,712713.6,69.4086,27.76,20221231,63.3,0.9,3.5,8.6,210
30680,장흥,20221231,0.0,3801.6,185241.6,67.3098,35.24,20221231,77.4,-0.8,1.5,8.9,171

In [113]:
# NaN 있는지 확인
df_final_merge[df_final_merge['anc_dt'].isna()]

Empty DataFrame
Columns: [dam_nm, obsr_de, rain_qy, inflow_qy, tot_dcwtr_qy, rsvwt_qy, dam_rsvwt_rt, anc_dt, avg_hmd, avg_tmr, avg_wv, snsn_sum, valid_rsvwt_cpcty_qy]
Index: []

In [127]:
df_final_merge.drop(labels='anc_dt',axis=1, inplace = True)

In [149]:
df_final_merge

,dam_nm,obsr_de,rain_qy,inflow_qy,tot_dcwtr_qy,rsvwt_qy,dam_rsvwt_rt,avg_hmd,avg_tmr,avg_wv,snsn_sum,valid_rsvwt_cpcty_qy
0,충주,20190101,0.0,3056918.4,9040636.8,2147.7650,78.10,59.7,-4.2,1.7,5.8,1789.0
1,횡성,20190101,0.0,32227.2,139449.6,71.9450,82.80,62.5,-7.8,1.0,6.4,73.4
2,소양강,20190101,0.0,783043.2,1292457.6,1864.7390,64.30,62.3,-7.1,1.4,5.4,1900.0
3,안동,20190101,0.0,96940.8,1466899.2,929.9470,74.50,55.9,-3.9,2.2,6.2,1000.0
4,임하,20190101,0.0,0.0,739152.0,374.2330,62.90,55.9,-3.9,2.2,6.2,424.0
...,...,...,...,...,...,...,...,...,...,...,...,...
30676,부안,20221231,0.0,7344.0,63849.6,35.6002,70.78,70.9,0.8,0.7,5.3,35.6
30677,섬진강,20221231,0.0,267753.6,407376.0,81.4090,17.47,73.3,-1.7,0.8,3.9,429.0
30678,주암(본),20221231,0.0,49420.8,448848.0,131.0083,28.67,63.3,0.9,3.5,8.6,352.0
30679,주암(조),20221231,0.0,96163.2,712713.6,69.4086,27.76,63.3,0.9,3.5,8.6,210.0
30680,장흥,20221231,0.0,3801.6,185241.6,67.3098,35.24,77.4,-0.8,1.5,8.9,171.0

In [147]:
df_final_merge.to_csv("df_final_merge.csv")